article {
  width: 100%;
  display: flex;
  flex-direction: row;
}

section.content {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

section.menu-left {
  width: 10%;
  display: flex;
  flex-direction: column;
}
section.menu-right {
  width: 20%;
  margin-left: 10px;
}

table {
  border-collapse: collapse;
}

td {
  border: solid 1px #ccc;
  width: 100px;
  text-align: center;
}

textarea {
  height: 400px;
}
