.flex-container {
  display: flex;
  flex-direction: row;
}
.menu-container {
  display: flex;
  flex-direction: column;
}

table {
  border-collapse: collapse;
}

td {
  border: solid 1px gray;
  width: 100px;
  text-align: center;
}
