.flex-container {
  display: flex;
  flex-direction: row;
}

.menu-container {
  display: flex;
  flex-direction: column;
}


table {
  margin: 10px;
  table-layout: fixed;
  border-collapse: collapse;
}

td {
  border: 1px solid #000;
  text-align: center;
  width: 50px;
}

