.outer {
  display: flex;
  flex-direction: row;
}
.outer p {
  padding: 0 10px;
}

.main {
  display: flex;
  flex-direction: row;
}

.menu-left {
  display: flex;
  flex-direction: column;
}

.menu-right {
  margin-left: 10px;
}
